name: CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Grant execute permission for Gradle wrapper
        run: chmod +x ./gradlew
      - name: Lancer les tests
        run: ./gradlew test